<div class="auth-container">


  <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!showQuestions()">
    <div class="form">
      <h1>🔐 Login </h1>
      <div class="form-group">
      <h1>Correo electrónico</h1>
      <div class="error"  *ngIf="form.get('email')?.invalid && form.get('email')?.touched" >
        El correo debe tener un formato válido (ej: usuario@dominio.com)
      </div>
      <input type="email" formControlName="email" placeholder=" " />
      </div>

      <div class="form-group">
        <h1>Token MFA</h1>
      <input type="text" formControlName="token" maxlength="6" placeholder=" " />

      <div class="error" *ngIf="form.get('token')?.invalid && form.get('token')?.touched">
      El token solo debe contener números
      </div>
      </div>

      <button type="submit" [disabled]="isLoading()">
      {{ isLoading() ? 'Validando...' : 'Validar token' }}
      </button>
    </div>
  </form>






    <div class="form" *ngIf="showQuestions()" [formGroup]="questionsGroup">
      <h3>Preguntas de seguridad</h3>

      <div class="form-group" *ngFor="let q of questionList(); trackBy: trackById">
        <label>{{ q.text }}</label>
        <input [formControlName]="q.id" placeholder="Tu respuesta..." />
      </div>
      <button type="button" (click)="onQuestionsSubmit()">Enviar Respuestas</button>
    </div>

</div>
