@import "tailwindcss";

:host {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Para que el contenido pueda crecer hacia abajo */
  min-height: 100vh; /* En lugar de height fijo */
  width: 100%;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), /* Capa oscura para contraste */
    url('../../assets/imagen.png') no-repeat center center / cover;
  background-attachment: fixed; /* Hace que el fondo se mantenga fijo al hacer scroll */
  padding: 60px 20px; /* Espaciado superior e inferior */
  box-sizing: border-box;
}

form {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  background: rgba(233, 153, 74, 0.08);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 30px 20px 50px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
  color: #fff;
  animation: fadeIn 0.6s ease;
}


h1 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 25px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
  label {
  font-size: 1.1rem;
  margin-bottom: 8px;
  color: #f0f0f0;
}

/* Inputs */
input {
  padding: 12px 14px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
  font-size: 1rem;
  transition: all 0.2s ease;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input:focus {
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}

/* Botones */
.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

button {
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

button[type="submit"] {
  background-color: #e7a80a;
  color: white;
}

button[type="submit"]:hover {
  background-color: #c06223;
}

button[type="button"] {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
}

button[type="button"]:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

/* Animación */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
